.inputBox {
    background-color: rgb(255, 255, 255);
    color: black;
    height: 10vh;
    width: 450px;
    border-radius: 15px;
    padding: 1.25rem 0.25rem;
    display: flex;
    justify-content: space-around;
}

.gray {
    background-color: rgb(242, 239, 239);
    border: none;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    width: 80%;
}
