.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.second-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(255, 254, 254, 0.378);
  border-radius: 15px;
}

.swap-btn {
  background-color: rgba(0, 0, 255, 0.579);
  padding: 0.25rem 0.5rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.convert-btn {
  background-color: rgba(0, 0, 255, 0.579);
  color: white;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
}